.Content {
    /* margin-top: 90px; */
    margin: 0px auto 0px auto;
    max-width: 802px;
    padding: 10px;
}

@media (min-width: 600px) {
    .Content {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .Content {
        padding: 2px;
    }
}