.Content {
    /* margin-top: 90px; */
    
    max-width: 802px;
    padding: 10px;
    max-width: 850px;
}

@media (min-width: 530px) {
    .Content {
        padding: 10px;
        margin: 0px auto 0px auto;
    }
}

@media (max-width: 530px) {
    .Content {
        padding: 2px;
        margin: 60px auto 0px auto;
        
    }
}