.Sale {

    margin: 90px auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-x: hidden;
}


@media (max-width: 900px) {
    .Sale {
        width: 100%;
        height: 600px;
        margin: auto;
    }
}
@media (min-width: 901px) {
    .Sale {
        max-width: 1200px;
        min-width: 901px;
        height: 600px;
        margin: auto;
    }
}