.Sale {
    /* background-color: blue; */
    flex-wrap: wrap;
    display: flex;
    width: 100%;

}
body {
    font-family:  'Raleway', sans-serif;
}
.Sale h4 {
    display: inline;
}
.Sale p {
    display: inline;

}

.breadCrumbGrid {
    background-color: orange;
    width: 50%;
    height: 40px;
    margin: 20px auto;
}

.cartaoDoProduto {
    width: 100%;
    /* background-color: red; */
    display: flex;
}

.navegadorDeCompra {
    /* background-color: yellow; */
}

@media (min-width: 600px) {
    .cartaoDoProduto {
        flex-direction: row;
    }
    .imagemProduto {
        width: 50%;
        max-width: 50%;
        flex-basis: 50%;
    }
    
    .navegadorDeCompra {
        width: 50%;
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 600px) {
    .cartaoDoProduto {
        flex-direction: column;
    }
    .imagemProduto {
        width: 100%;

    }
    
    .navegadorDeCompra {
        width: 100%;

    }
}
.descricaoProduto {

}

.slickSliderShelf {
    
}

.slickSliderShelf {
    width: 100%;
    display: flex;
}

.productName{
    margin: 0px 13px 10px 25px;
}
.productName h1 {
    margin: 0px 0px 7px 0px;
    font-size: 27px;
    color: #c8c8c8;
    font-weight: 500;
    line-height: 165%;
    font-stretch: condensed;
}

.priceBuyBox {
    background-color: #f8f8f8;
    padding: 10px 16px 14px 16px;
    z-index: 1;
    color: #a9a9a9;
    margin-left: 2px;
}

.priceBuyBox p {
    font-weight: 500;
}

.priceBuyBox h4 {
    font-size: 27px;
    margin-left: 2px;
    font-stretch: expanded;
}
.priceBuyBox  button {
    border-radius: 4px;
    border-bottom-color: #75ac5e !important;
    background-color: #71ce4b; /* Green */
    color: white;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-display: condensed;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
    font-weight: 700;
    margin-top: 19px;
  }
  
.priceBuyBox button:hover {
    background-color: white; 
    color: black; 
  }

.freteCalculation {
    display:flex;
    flex-direction: column;
    font: inherit;
    font-weight: 700;
    font-size: 12px;
    flex-wrap: wrap;
    padding: 14px 16px 16px 20px;
    margin: 11px 16px 0px 20px;
    background-color: #4ec2dd;
    color: white;
    border-radius:5px;
    -webkit-border-radius:4px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.freteCalculation input {

    display: inline-block;
    border: 0.3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 16px 4px 0px 0px;
    color: #a9a9a9;
    font-family:  'Raleway', sans-serif;
}


.freteCalculation  button {
    border-radius: 4px;
    border-bottom-color: #0f4156 !important;
    background-color: #0f4156; /* Green */
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 12px;
    font-display: condensed;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px;
    font-weight: 700;
    margin-top: 19px;
  }
  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: #e5e5e5; 
} 
  .freteCalculation button:hover {
    background-color: white; 
    color: black; 
  }


 .abc {
    padding: 10px 12px;
    width: 145px;
    
}   

 .cde {
    width: 66px;
    padding: 10px 21px;
}   