.DrawerToggle {
    width: 40px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 8px;
    background-color: #4ec2dd;
}

@media (min-width: 530px) {
    .DrawerToggle {
        display: none;
    }
}