.Outerfooter {
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
    background-color: tomato;
    color: white;
    display: flex;
    margin-top: 30px;
    height: 70px;
  }

  .FooterLeft {
    background-color: #0f4156;
    width: 28%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    font-size: 11px;

  }

  .FooterRight {
    background-color: #4ec2dd;
    width: 72%;
    height: 100%;

    text-align: left;

    display: flex;
    align-items: center;
    padding-left: 26px;
    font-size: 10px;
  }

  .divLogo {
    width: 40px;
    height: 40px;
    margin: auto 30px auto 0px;
    vertical-align: baseline;
    
  }