/* mobile*/
.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #c8c8c8;
    font-weight: 100;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: #c8c8c8;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #4ec2dd;
    text-transform: uppercase;
    font-weight: 700;

}

/* dekstop*/
@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        color: #c8c8c8;
        font-weight: 100;

    
    }
    
    .NavigationItem a {
        color: #c8c8c8;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: #4ec2dd;
        font-weight: 700;
    }

}

