.Games {
    width: 100%;
    margin: 90px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-x: hidden;
    min-height: 100%;
    margin-top: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
}


.Upload p {
    font-size: 12px;
    font-weight: 300;
}

.Upload h4 {
    text-align: center;
    margin: auto;
}

.ProdutosCadastrados {
    margin: auto;
    padding-top: 30px;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.AreaDeForm {
    width: 65%;
    margin: auto;
}

@media (max-width: 600px) {
    .Upload {
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 600px) {
    .Upload {
        width: 450px;
        margin: auto;
    }
}