.Games {
    max-width: 70%;
    margin: 90px auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-x: hidden;
    min-height: 100%;
}

.ProdutosCadastrados {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 700px;
}

@media (max-width: 900px) {
    .Games {
        width: 800px;
        height: 100%;
        margin: auto;
    }
}
@media (min-width: 901px) {
    .Games {
        max-width: 800px;
        min-width: 600px;
        height: 100%;
        margin: auto;
    }
}