h2 {
    font-size: inherit;
    font-style: inherit;
    font: inherit;
    font-weight: inherit;
    margin: auto;
    width: 100%;
    text-align: center;
}

@media (min-width: 600px) {
    .SliderContainer {
        width: 75%;
        height: 500px;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .SliderContainer {
        width: 100%;
        height: 500px;
        margin: auto;
    }

}