.GalContainer {
    display: flex;
    min-height: 450px;
}
.divThumbnails {


}
.thumbnails {
    width: 52px; 
    height: 52px;
    margin-bottom: 15px;
}

.selectedThumbnail {
    min-width: 200px;
    height: auto;
    margin-left: 15px;
    
}

.thumbnails img{
    width: 52px;
    height: 52px;
    border: 1px solid #e5e5e5;
}

.thumbnails:hover {
    cursor: pointer;
}

.selectedThumbnail img {
    width: 100%;
    border: 1px solid #e5e5e5;
}