.Presentes {
    margin: 90px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

}


@media (max-width: 900px) {
    .Presentes {
        width: 100%;
        margin: auto;
    }
}
@media (min-width: 901px) {
    .Presentes {
        max-width: 1200px;
        min-width: 901px;
        margin: auto;
    }
}