.ProdutoListado {
    width: 175px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    height: 335px;

    font-weight: 300;
    font-size: 11px;

    color: #e8e8e8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ProdutoListado p {
    text-align: left;
    width: 100%;
    margin: 5px;
}
@media (min-width: 340px) {
    .ProdutoListado {
        width: 175px;
        margin: 5px;
    }
}
@media (max-width: 340px) {
    .ProdutoListado {
        width: 175px;
        margin: 2px;
    }
}
.ProdutoListado :hover {
    cursor: pointer;
}

.destro {
    margin-left: auto;
    margin-top: 10px;
    }

.destro img {
    width: -webkit-calc(100% - (10px * 2));
    width: calc(100% - (10px * 2));
}


.Canhoto {
margin-left: 0px;
}

p {
    font-weight: 300;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    color: #4ec2dd;
    text-align: left;
    margin-top: 6px;
    font-size: inherit
}

