.Headerf1 {

}


.FormControl {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    background-image: url('searchicon.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  

  .ButtonAs {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
  }

  .sugList {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: -5px 0px;
    list-style-type: none;
    
  }

  .sugList :hover {
      cursor: pointer;
      text-decoration: underline;
  }

  .Container {
      width: 300px;
      margin: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
  }

